# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# profile
/profile/node_modules
/profile/public
/profile/src

# frontend
/todolist/node_modules
/todolist/public
/todolist/src

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
